<div [ngClass]="{ 'light-theme': isLightTheme, 'dark-theme': !isLightTheme }" class="d-flex vw-100 vh-100 flex-column">
  <div>
    <mat-toolbar color="primary">
      <mat-icon color="accent">toggle_on</mat-icon>&nbsp; <span class="d-block d-md-none">FF4J</span>
      <span class="d-none d-sm-none d-md-block">Feature Flipping 4 Java</span> <span class="spacer"></span>

      <div class="h-100">
        <div class="links" [ngClass]="{'display-active':isMenuHidden,'display-none':isMenuHidden}">
          <a routerLink="/features" [routerLinkActive]="['router-link-active']" (click)="closeMenu()">
            <span class="d-md-block">Features</span>
          </a>
          <a routerLink="/properties" [routerLinkActive]="['router-link-active']" (click)="closeMenu()">
            <span class="d-md-block">Properties</span> 
          </a>
          <a routerLink="/dashboards" [routerLinkActive]="['router-link-active']" (click)="closeMenu()">
            <span class="d-md-block">Dashboard</span>
          </a>
        </div>
      </div>
      <span class="more-span" (click)="openMenu()"><mat-icon class="sm-more">more_vert</mat-icon></span>
      <mat-icon>nights_stay</mat-icon>&nbsp;
      <mat-slide-toggle [checked]="isLightTheme" (change)="toggleTheme($event.checked)">
        <mat-icon>wb_sunny</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    <div class="container ff4j-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
