@import '../styles/ff4j-variables';

$border-size: 3px;

mat-toolbar {
  $nav-bar-height: 70px;
  font-weight: 300;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;

  .links {
    align-items: center;
    height: 100%;
    justify-content: center;
    margin-top: 0;
  }

  a {
    align-items: center;
    display: flex;
    font-size: 0.8em;
    height: 100%;
    justify-content: center;
    padding: 0 1em;
  }

  @media screen and (max-width: 600px) 
  {
  .links {
      margin-top: 40px;
      display: block;
    }
  
    a {
      background: grey;
    }
    .sm-more{
     display: inline;
    }

    .display-active{
      display: inline-block;
    }

    .display-none{
      display: none;
    }

  }

  @media screen and (min-width: 600px) 
  {
    .links {
      margin-top: 0;
      display: flex;
    }
  
    a {
      background: transparent;
    }

    .sm-more{
      display: none;
    }
  
  }

 
  a:hover {
    color: #9bdfc7;
    cursor: pointer;
    text-decoration: none;
  }

  .router-link-active {
    border-bottom: $border-size solid $ff4j-green;
    color: $ff4j-green;
    padding-top: $border-size;
  }
}

.spacer {
  flex: 1 1 auto;
}

.mat-icon.mat-accent {
  font-size: 45px;
  margin-right: 20px;
  margin-top: -20px;
}

.ff4j-body {
  margin-top: 70px;
}

