<div class='ff4j-features'>
    <!-- TODO
     <ag-grid-angular
         class="h-100 w-100 ag-theme-material"
         [rowData]="rowData"
         [columnDefs]="columnDefs"
         (gridReady)='onGridReady($event)'>
     </ag-grid-angular>
     -->
    <!--
    <div class="p-1 position-fixed">
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>Add</span>
            </button>
            <button mat-menu-item>
                <mat-icon>cloud_upload</mat-icon>
                <span>Import</span>
            </button>
            <button mat-menu-item>
                <mat-icon>cloud_download</mat-icon>
                <span>Export</span>
            </button>
        </mat-menu>
    </div>
    -->
    <div class='container-fluid'>
        <div *ngFor="let feature of features">
            <ff4j-feature-card [feature]="feature"></ff4j-feature-card>
        </div>
    </div>
</div>
